spring:
  application:
    name: orders-service
  config:
    import: optional:configserver:http://localhost:8888
  datasource:
    url: jdbc:h2:mem:ordersdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  cloud:
    openfeign:
      client:
        config:
          default:
            loggerLevel: basic

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

resilience4j:
  circuitbreaker:
    instances:
      users-service:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 2
        ignoreExceptions:
          - com.mini_ecommerce.orders_service.exception.NotFoundException
      products-service:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 2
        ignoreExceptions:
          - com.mini_ecommerce.orders_service.exception.NotFoundException
  retry:
    instances:
      users-service:
        maxAttempts: 3
        waitDuration: 500ms
        ignoreExceptions:
          - com.mini_ecommerce.orders_service.exception.NotFoundException
      products-service:
        maxAttempts: 3
        waitDuration: 500ms
        ignoreExceptions:
          - com.mini_ecommerce.orders_service.exception.NotFoundException

logging:
  level:
    com.mini_ecommerce.orders_service.client: INFO
    com.mini_ecommerce.orders_service.service.UserLookupService: INFO
    com.mini_ecommerce.orders_service.service.ProductLookupService: INFO
    feign: WARN
    io.github.resilience4j.circuitbreaker: INFO
    io.github.resilience4j.retry: INFO
